body {
    background-color: #f5c8d64b;


}
body {
    margin: 0;
    padding: 0%;
    background: url(imgportada.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;


}