body {
    background-color: #f8f8b2;


}
body {
    margin: 0;
    padding: 0%;
    background: url(imgportada.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;


}